@{
    Layout = "_Layout_A";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/styles/profile-style.css">
</head>

<body class="bg-light">
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title text-center mb-4 lc">User Profile</h1>

                @if (Model != null)
                {
                    <div class="table-responsive">
                        <table class="table table-bordered mx-auto">
                            <tbody>
                                <tr>
                                    <th scope="row">Full Name</th>
                                     <td>
                                        <span id="fullName">@Model.Full_Name</span>
                                    </td>

                                </tr>
                                <tr>
                                    <th scope="row">Email</th>
                                    <td>@Model.Email</td>
                                </tr>
                                <tr>
                                    <th scope="row">Gender</th>
                                    <td>
                                        <span id="category">@Model.Category</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Date of Birth</th>
                                    <td>
                                        <span id="date">@Model.Date</span>
                                    </td>
                                </tr>
                             </tbody>
                        </table>
                    </div>

                    <div class="text-center mt-4">
                        <a class="btn btn-primary" asp-area="" asp-controller="Profile" asp-action="Edit">Edit Profile</a>
                    </div>
                    <div class="text-center mt-4">
                        <a href="@Url.Action("UpdateAlertInfo", "Profile")">Update Alert Information</a>
                    </div>
                }
                else
                {
                    <p class="text-danger h4">User details not found.</p>
                }
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>
