@{
    Layout = "_Layout_A";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/styles/i-style.css">
</head>
<body>
    <header>
        <h1>Post Volunteer Opportunity</h1>
    </header>
    <main>
        <form action="@Url.Action("Update", "Opportunity", new { title = Model.Title })" method="post">
            <label for="title">Opportunity Title</label>
            <input type="text" value="@Model.Title" id ="title" name="title" disabled>
            <label for="description">Description</label>
            <textarea id="description" name="description" required>@Model.Description</textarea>
            <table>
                <tr>
                    <td class="field-label">
                        <label for="province">Province</label>
                    </td>
                    <td class="field-label">
                        <label for="district">District</label>
                    </td>
                    <td class="field-label">
                        <label for="city">City</label>
                    </td>
                </tr>
                <tr>
                    <td class="field-select">
                        <select id="province" name="province" onchange="updateDistricts()">
                            <option value="@Model.Province">@Model.Province</option>
                            <option value="Central" id="2">Central</option>
                            <option value="Eastern" id="6">Eastern</option>
                            <option value="North Central" id="8">North Central</option>
                            <option value="North Western" id="4">North Western</option>
                            <option value="Northern" id="9">Northern</option>
                            <option value="Sabaragamuwa" id="5">Sabaragamuwa</option>
                            <option value="Southern" id="3">Southern</option>
                            <option value="Uva" id="7">Uva</option>
                            <option value="Western" id="1">Western</option>
                        </select>
                    </td>
                    <td class="field-select">
                        <select id="district" name="district" onchange="updateCities()">
                            <option value="@Model.District">@Model.District</option>
                        </select>
                    </td>
                    <td class="field-select">
                        <select id="city" name="city">
                            <option value="@Model.City">@Model.City</option>
                        </select>
                    </td>
                </tr>
            </table>

            <label for="category">Category</label>
            <select id="category" name="category" default="@Model.Category">
                <option value="Environmental Conservation">Environmental Conservation</option>
                <option value="Community Service">Community Service</option>
                <option value="Youth and Education">Youth and Education</option>
                <option value="Health and Wellness">Health and Wellness</option>
                <option value="Human Rights and Advocacy">Human Rights and Advocacy</option>
                <option value="Disaster Relief">Disaster Relief</option>
                <option value="Animal Welfare">Animal Welfare</option>
                <option value="Arts and Culture">Arts and Culture</option>
                <option value="International Volunteerism">International Volunteerism</option>
                <option value="Online and Virtual Volunteering">Online and Virtual Volunteering</option>
                <option value="Crisis Hotlines">Crisis Hotlines</option>
                <option value="Elderly Care">Elderly Care</option>
                <option value="Microvolunteering">Microvolunteering</option>
                <option value="Food Distribution">Food Distribution</option>
            </select>
            <label for="date">Date</label>
            <input type="date" id="date" name="date" value="@Model.Date.ToString("yyyy-MM-dd")" required>
            <input type="submit" value="Save Changes">
        </form>
    </main>
    <script>
        function getprovinces() {
            fetch(`/Opportunity/GetProvinces`)
                .then(response => response.json())
                .then(data => {
                    var provinceDropdown = document.getElementById("province");
                    provinceDropdown.innerHTML = "<option id = '' value=''>Please choose a province</option>";

                    data.forEach(province => {
                        var option = document.createElement("option");
                        option.value = province.name_en;
                        option.id = province.id;
                        option.text = province.name_en;
                        provinceDropdown.appendChild(option);
                    });

                });
        }
    </script>
    <script>
        function updateDistricts() {
            var selectedProvinceOption = document.getElementById("province");
            var selectedProvince = selectedProvinceOption.options[selectedProvinceOption.selectedIndex].id;
            fetch(`/Opportunity/GetDistricts?province=${selectedProvince}`)
                .then(response => response.json())
                .then(data => {
                    var districtDropdown = document.getElementById("district");
                    districtDropdown.innerHTML = "<option id = '' value=''>Please choose a district</option>";

                    data.forEach(district => {
                        var option = document.createElement("option");
                        option.value = district.name_en;
                        option.id = district.id;
                        option.text = district.name_en;
                        districtDropdown.appendChild(option);
                    });

                });
        }
    </script>
    <script>
        function updateCities() {
            var selectedDistrictOption = document.getElementById("district");
            var selectedDistrict = selectedDistrictOption.options[selectedDistrictOption.selectedIndex].id;
            fetch(`/Opportunity/GetCities?district=${selectedDistrict}`)
                .then(response => response.json())
                .then(data => {
                    var cityDropdown = document.getElementById("city");
                    cityDropdown.innerHTML = "<option id = '' value=''>Please choose a city</option>";

                    data.forEach(city => {
                        var option = document.createElement("option");
                        option.value = city.name_en;
                        option.id = city.id;
                        option.text = city.name_en;
                        cityDropdown.appendChild(option);
                    });

                });
        }
    </script>

</body>
</html>
