@{
    Layout = "_Layout_A";
    var locationFilter = Context.Request.Query["location"].ToString();
    var categoryFilter = Context.Request.Query["category"].ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opportunities</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/styles/card-style.css">
</head>
<body>
    <div class="container mt-5">

        <div class="tab-content mt-2">
            <div class="tab-pane fade show active" id="tab1">
                <div class="filter">
                    <form method="get">
                        <label for="location">Location:</label>
                        <input type="text" id="location" name="location" value="@locationFilter" />

                        <label for="category">Category:</label>
                        <input type="text" id="category" name="category" value="@categoryFilter" />

                        <input type="submit" value="Filter" />
                        <a href="?" class="clear-filter-button">Clear</a>
                        <p1 class="gap"></p1>
                        <a href="Participant_Rating" class="rating-button">Participant Rating</a>
                        <p1 class="gap-less"></p1>
                        <a href="Add" class="add-button">+ Add Opportunity</a>
                    </form>
                </div>
                <div class="cardcont">
                    <div class="cards-container">
                        @foreach (var opportunity in Model.MyEvents)
                        {
                            if ((string.IsNullOrWhiteSpace(locationFilter) || opportunity.Province.Contains(locationFilter, StringComparison.OrdinalIgnoreCase) || opportunity.City.Contains(locationFilter, StringComparison.OrdinalIgnoreCase) || opportunity.District.Contains(locationFilter, StringComparison.OrdinalIgnoreCase))
                            && (string.IsNullOrWhiteSpace(categoryFilter) || opportunity.Category.Contains(categoryFilter, StringComparison.OrdinalIgnoreCase)))
                            {
                                <a href="Details?title=@opportunity.Title" class="card">
                                    <div>
                                        <h2>@opportunity.Title</h2>
                                        <p><strong>Location :</strong> @opportunity.City, @opportunity.District, @opportunity.Province</p>
                                        <p><strong>Category :</strong> @opportunity.Category</p>
                                        <p><strong>Date     :</strong> @opportunity.Date.ToShortDateString()</p>
                                    </div>
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>


            
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="scripts.js"></script>
</body>
</html>

