@{
    Layout = "_Layout_A";
}
@model List<VES.Models.ReviewModel>

<div>
    @foreach (var comment in Model.Where(c => c.type == "main"))
    {
        <div>
            <strong>@comment.UserEmail</strong> - @comment.Timestamp
            <p>@comment.CommentText
                <a href="@Url.Action("ReviewReplies", "General", new { commentId = comment.Id })">
                    View Replies

                </a>
            </p>
            
        </div>
    }
</div>


<div>
    <form method="post" action="@Url.Action("AddReview", "General")">
        <input type="hidden" id="EventTitle" name="Title" value="@ViewBag.Title" />
        <textarea id="NewComment" name="NewComment" rows="3" cols="100"></textarea>
        <div><button type="submit" id="submitNewComment">Add Review</button></div>
        
    </form>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $("#submitNewComment").click(function (event) {
                event.preventDefault();


                var newCommentText = $("#NewComment").val();
                var eventTitle = $("#EventTitle").val();


                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AddReview", "General")",
                    data: { newCommentText: newCommentText, replyto: "new", type: "main", title: eventTitle },
                    success: function (response) {

                        console.log("Comment added successfully!");
                        location.reload();

                    },
                    error: function (xhr, status, error) {

                        console.error("Error adding comment:", error);

                    }
                });
            });
        });
    </script>
}


