@{
    Layout = "_Layout_A";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/styles/detail-style.css">
</head>
<body>
    @if (Model != null)
    {
        <form>
            <div class="head">
                <a href="Events"> <img src="~/images/Back.jpg" alt="Back" /></a>
                <input type="hidden" name="EventName" value="@Model.Title">
                <h1 >@Model.Title</h1>
            </div>
            <p><strong>Location:</strong> @Model.Province, @Model.District, @Model.City</p>
            <p><strong>Category:</strong> @Model.Category</p>
            <p><strong>Date:</strong> @Model.Date.ToShortDateString()</p>
            <div class="p1">
                <p>@Model.Description</p>
            </div>           
        </form>
    }

    else
    {
        <p>Opportunity not found.</p>
    }
</body>
</html>
